<h4>PROFILES</h4>
<br>
<div class="alert alert-info" *ngIf="showSuccessMessage">
    Submitted successfully.
</div>
<br>
<div class="shadow-sm p-3 mb-5 bg-white rounded" style="height: 600px; width: 1235px;">
    <app-profile-list></app-profile-list>
</div>
<button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Add User to Profiles</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Add User to Profiles</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="this.profileService.form" (ngSubmit)="onSubmit()">
                    <input type="hidden" formControlName="$key">
                    <div class="form-group">
                      <label>Full Name</label>
                      <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
                      <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">This field is required.</div>
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input formControlName="age" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.age.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.age.errors">Only two digits needed.</div>
                    </div>
                    <div class="form-group">
                        <label>Photo</label>
                        <input formControlName="photo" type="file" class="form-control-file">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-success" value="Submit">
            </div>
          </div>
        </div>
      </div>
    
